<ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <i class="fa-solid fa-home me-1"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="fa-solid fa-cart-shopping me-1"></i> Order
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="fa-solid fa-gear me-1"></i> Services
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="fa-solid fa-newspaper me-1"></i> Announcements
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="fa-solid fa-book me-1"></i> Knowledge Base
        </a>
      </li>
      <li>
        <a href="{{ '/support' | link }}" class="nav-link link-body-emphasis">
          <i class="fa-solid fa-headset me-1"></i> Support
        </a>
      </li>
      
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="fa-solid fa-credit-card me-1"></i> Billing
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="fa-solid fa-envelope-open-text me-1"></i> Emails
        </a>
      </li>
    </ul>