{% extends "layout_default.html.twig" %}

{% block meta_title %}{{ 'Client Area' | trans }}{% endblock %}

{% block content %}
    <div class="bg-white border rounded-3">
        <br><br><br><br><br><br><br><br><br><br>
    </div>
{% endblock %}